@inherits AuthComponent

@if (DataSource != null)
{
    <select class="form-select" @bind="@MerchantServeId" disabled="@Disabled">
        @if (ShowAllSelectItem)
        {
            <option value="0">@Resources.SelectListAllOption</option>
        }
        @foreach (var item in DataSource)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
}