@page "/admin/merchants"
@using Azox.XQR.Business.Domain.Management

<div class="page-wrapper">
    <div class="page-header">
        <h2 class="page-title">İşletmeler</h2>
    </div>
    <div class="page-body">
        <div class="card">
            <div class="card-body">
                <RadzenDataGrid TItem="Merchant" Data="Merchants">
                    <Columns>
                        <RadzenDataGridColumn TItem="Merchant" Property="@nameof(Merchant.Id)" Visible="false" />
                        <RadzenDataGridColumn TItem="Merchant" Property="@nameof(Merchant.Name)" Title="Adı" />
                        <RadzenDataGridColumn TItem="Merchant" Property="@nameof(Merchant.Description)" Title="Açıklama" />
                        <RadzenDataGridColumn TItem="Merchant" Property="@nameof(Merchant.MerchantType)" Title="Tipi" />
                        <RadzenDataGridColumn TItem="Merchant" Property="@nameof(Merchant.CreationTime)" Title="Eklenme Tarihi" />
                        <RadzenDataGridColumn TItem="Merchant" Property="@nameof(Merchant.Contact.Name)" Title="Yetkili" />
                        <RadzenDataGridColumn TItem="Merchant" Property="@nameof(Merchant.Contact.Phone)" Title="Yetkili Tel" />
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </div>
</div>
