@if (Sitemap != null)
{
    <div class="offcanvas offcanvas-start sidebar">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title">&nbsp;</h2>
            <button class="btn btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav nav-pills flex-column mb-auto">
                @foreach (var item in Sitemap.Items)
                {
                    if (item.Items != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#m@(item.GetHashCode())">@item.Name</a>
                            <div class="collapse ps-1" id="m@(item.GetHashCode())">
                                <ul class="nav nav-pills flex-column mb-auto">
                                    @foreach (var innerItem in item.Items)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link bi bi-dot" href="@innerItem.Url">@innerItem.Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@item.Url">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}