@page "/admin/location/list"
@inherits AuthComponent

<AuthorizeView Roles="@($"{nameof(UserGroupType.Admin)}, {nameof(UserGroupType.MerchantAdmin)},{nameof(UserGroupType.ServiceAdmin)}")">
    <Authorized>
        <GenericSummary OnCreate="OnCreate" OnSearch="OnSearch" ShowToolbar="true" PageTitle="Lokasyonlar">
            <SearchTemplate>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="col-form-label">İşletme Adı</label>
                            <input class="form-control" @bind-value="_filterLocationName" />
                        </div>
                    </div>
                </div>
            </SearchTemplate>
            <Template>
                <RadzenDataGrid TItem="LocationDto"
                                Data="DataSource"
                                AllowSorting="true"
                                AllowPaging="true"
                                PageSize="Globals.DefaultGridPageSize"
                                PageSizeOptions="Globals.GridPageSizes">
                    <Columns>
                        <RadzenDataGridColumn TItem="LocationDto" TextAlign="TextAlign.Center" Sortable="false">
                            <Template Context="item">
                                <QrCode LocationId="item.Id" Width="70" Height="70" />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LocationDto" Property="Service.Merchant.Name" Title="İşletme Adı" />
                        <RadzenDataGridColumn TItem="LocationDto" Property="Service.Name" Title="Hizmet Adı" />
                        <RadzenDataGridColumn TItem="LocationDto" Property="Name" Title="Adı" />
                        <RadzenDataGridColumn TItem="LocationDto" Title="Türü">
                            <Template Context="item">
                                <span>@item.Service.ServiceType.GetDescription()</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LocationDto" Title="Aktif" TextAlign="TextAlign.Center" Width="4rem">
                            <Template Context="item">
                                <span class="material-icons">@(item.IsActive ? "check_circle":"cancel")</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LocationDto" TextAlign="TextAlign.Center" Width="7rem" Sortable="false">
                            <HeaderTemplate>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-sm btn-light shadow rounded-2" @onclick="OnRefresh">
                                        <span class="material-icons">refresh</span>
                                    </button>
                                </div>
                            </HeaderTemplate>
                            <Template Context="item">
                                <RadzenButton Icon="edit"
                                              ButtonStyle="ButtonStyle.Light"
                                              Variant="Variant.Flat"
                                              Size="ButtonSize.Medium"
                                              Click="@(() => OnEdit(item.Id))" />
                                <RadzenButton Icon="delete"
                                              ButtonStyle="ButtonStyle.Danger"
                                              Variant="Variant.Flat"
                                              Size="ButtonSize.Medium"
                                              Click="@(() => OnDelete(item.Id))" />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </Template>
        </GenericSummary>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPageView />
    </NotAuthorized>
</AuthorizeView>