@page "/admin/service"

<SummaryLayout PageTitle="Hizmetler">
    <PageToolbar>
        <div class="btn-group btn-group-sm btn-group-hover">
            <a class="btn btn-sm btn-primary rounded-4 me-2" href="/admin/store/new">
                <i class="bi bi-plus"></i>
                <span>Yeni</span>
            </a>
        </div>
    </PageToolbar>
    <Search>
        <EditForm Model="FilterArgs" OnValidSubmit="SummaryFilter">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 col-md-6">
                        <label class="col-form-label col-form-label-sm">Hizmet Adı</label>
                        <input class="form-control form-control-sm" @bind-value="FilterArgs.Name" />
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="col-form-label col-form-label-sm">Hizmet Tipi</label>
                        <select class="form-select form-select-sm" @bind="FilterArgs.StoreTypeId">
                            @foreach (var item in FilterArgs.StoreTypes)
                            {
                                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary" type="submit" disabled="@FilterArgs.IsBusy">
                                @if (FilterArgs.IsBusy)
                                {
                                    <div class="spinner-border spinner-border-sm"><span class="visually-hidden"></span></div>
                                }
                                else
                                {
                                    <i class="bi bi-search">&nbsp;</i>
                                    <span>Arama</span>
                                }
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </Search>
    <PageBody>
        <RadzenDataGrid TItem="MerchantServeDto" Data="Model" AllowSorting="true" AllowPaging="true" PageSize="10" PageSizeOptions="new List<int>{5,10,20,50,100}">
            <Columns>
                <RadzenDataGridColumn TItem="MerchantServeDto" Property="Name" Title="Hizmet Adı" />
                <RadzenDataGridColumn TItem="MerchantServeDto" Title="Hizmet Tipi">
                    <Template Context="store">
                        <span>@store.ServiceType.GetDescription()</span>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="MerchantServeDto" TextAlign="TextAlign.Right">
                    <Template Context="store">
                        <div class="btn-group btn-group-sm me-2">
                            <button class="btn btn-sm btn-primary rounded-4 me-2"
                                    @onclick="@(() => NavigationManager.NavigateTo($"/admin/store/{store.Id}"))">
                                <i class="bi bi-pen"></i>
                            </button>
                            <button class="btn btn-sm btn-danger rounded-4">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </PageBody>
</SummaryLayout>
