@inherits AuthComponent

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6">
                <label class="col-form-label">İşletme</label>

                <select class="form-select" @onchange="MerchantOnSelect" disabled="@(!Model.IsNew)">
                    <option>İşletme Seçiniz</option>
                    @foreach (var item in MerchantSelectListItems)
                    {
                        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                    }
                </select>

            </div>
            <div class="col-12 col-md-6">
                <label class="col-form-label">Hizmet</label>

                <select class="form-select" @onchange="MerchantServeOnSelect" disabled="@(!Model.IsNew || Model.Service.Merchant.Id == 0)">
                    <option>Hizmet Seçiniz</option>
                    @foreach (var item in MerchantServeSelectListItems)
                    {
                        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                    }
                </select>

            </div>
            <div class="col-12 col-md-6">
                <label class="col-form-label">Lokasyon Adı</label>
                <input class="form-control" @bind-value="Model.Name" />
            </div>
            <div class="col-12 col-md-6">
                <label class="col-form-label">Lokasyon Kısa Bilgi</label>
                <input class="form-control" @bind-value="Model.Description" />
            </div>
            @if (!Model.IsNew)
            {
                <div class="col-12 col-md-6">
                    <label class="col-form-label">Lokasyon Durumu</label>
                    <div class="input-group">
                        <input class="form-control" disabled value="@(Model.IsActive ? "Aktif" : "Pasif")" />
                        @if (Model.IsActive)
                        {
                            <button class="btn btn-primary input-group-text" type="button" @onclick="SetAsPassive">
                                <span>Pasif Et</span>
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary input-group-text" type="button" @onclick="SetAsActive">
                                <span>Aktif Et</span>
                            </button>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>