@page "/admin/service/list"
@inherits AuthComponent

<AuthorizeView Roles="@($"{nameof(UserGroupType.Admin)}, {nameof(UserGroupType.MerchantAdmin)}")">
    <Authorized>
        <GenericSummary OnCreate="OnCreate" OnSearch="OnSearch" ShowToolbar="true" PageTitle="Hizmetler">
            <SearchTemplate>
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <label class="col-form-label">İşletme</label>
                            <select class="form-select" @bind="_filterMerchantId">
                                <option value="0">İşletme Seçiniz</option>
                                @foreach (var item in MerchantSelectListItems)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="col-form-label">Hizmet Adı</label>
                            <input class="form-control" @bind-value="_filterMerchantServeName" />
                        </div>
                    </div>
                </div>
            </SearchTemplate>
            <Template>
                <RadzenDataGrid TItem="MerchantServeDto"
                                Data="DataSource"
                                AllowSorting="true"
                                AllowPaging="true"
                                PageSize="Globals.DefaultGridPageSize"
                                PageSizeOptions="Globals.GridPageSizes">
                    <Columns>
                        @if (UserGroupType == UserGroupType.Admin)
                        {
                            <RadzenDataGridColumn TItem="MerchantServeDto" Property="Merchant.Name" Title="İşletme" />
                        }
                        <RadzenDataGridColumn TItem="MerchantServeDto" Property="Name" Title="Hizmet Adı" />
                        <RadzenDataGridColumn TItem="MerchantServeDto" Title="Hizmet Türü">
                            <Template Context="item">
                                <span>@item.ServiceType.GetDescription()</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MerchantServeDto" Title="Aktif" TextAlign="TextAlign.Center" Width="4rem">
                            <Template Context="item">
                                <span class="material-icons">@(item.IsActive ? "check_circle":"cancel")</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MerchantServeDto" TextAlign="TextAlign.Right" Width="7rem" Sortable="false">
                            <Template Context="item">
                                <RadzenButton Icon="edit"
                                              ButtonStyle="ButtonStyle.Light"
                                              Variant="Variant.Flat"
                                              Size="ButtonSize.Medium"
                                              Click="@(() => OnEdit(item.Id))" />
                                <RadzenButton Icon="delete"
                                              ButtonStyle="ButtonStyle.Danger"
                                              Variant="Variant.Flat"
                                              Size="ButtonSize.Medium"
                                              Click="@(() => OnDelete(item.Id))" />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </Template>
        </GenericSummary>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPageView />
    </NotAuthorized>
</AuthorizeView>