@page "/admin/merchant/list"

<AuthorizeView Roles="@nameof(UserGroupType.Admin)">
    <Authorized>
        <GenericSummary OnCreate="OnCreate" OnSearch="OnSearch" PageTitle="İşletmeler" ShowToolbar="true">
            <SearchTemplate>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="col-form-label">İşletme Tipi</label>
                            <select class="form-select" @bind="_filterMerchantType">
                                <option value="0">@XResource.SelectListAllOption</option>
                                @foreach (var item in Enum.GetValues<MerchantType>())
                                {
                                    <option value="@item.ToString("D")">@item.GetDescription()</option>
                                }
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="col-form-label">İşletme Adı</label>
                            <input class="form-control" @bind-value="_filterMerchantName" />
                        </div>
                    </div>
                </div>
            </SearchTemplate>
            <Template>
                <RadzenDataGrid TItem="MerchantDto"
                                Data="DataSource"
                                AllowSorting="true"
                                AllowPaging="true"
                                PageSize="Globals.DefaultGridPageSize"
                                PageSizeOptions="Globals.GridPageSizes">
                    <Columns>
                        <RadzenDataGridColumn TItem="MerchantDto" Property="Name" Title="Adı" />
                        <RadzenDataGridColumn TItem="MerchantDto" Title="Türü">
                            <Template Context="item">
                                <span>@item.MerchantType.GetDescription()</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MerchantDto" Title="Aktif" TextAlign="TextAlign.Center" Width="4rem">
                            <Template Context="item">
                                <span class="material-icons">@(item.IsActive ? "check_circle":"cancel")</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MerchantDto" TextAlign="TextAlign.Right" Width="7rem" Sortable="false">
                            <Template Context="item">
                                <RadzenButton Icon="edit"
                                              ButtonStyle="ButtonStyle.Light"
                                              Variant="Variant.Flat"
                                              Size="ButtonSize.Medium"
                                              Click="@(() => OnEdit(item.Id))" />
                                <RadzenButton Icon="delete"
                                              ButtonStyle="ButtonStyle.Danger"
                                              Variant="Variant.Flat"
                                              Size="ButtonSize.Medium"
                                              Click="@(() => OnDelete(item.Id))" />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </Template>
        </GenericSummary>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPageView />
    </NotAuthorized>
</AuthorizeView>