@page "/admin/merchant/list"
@inherits AuthorizeComponent

<AuthorizeView Roles="@nameof(UserGroupType.Admin)">
    <Authorized>
        <GenericSummary OnSearch="OnSearch" PageTitle="İşletmeler">
            <ToolbarTemplate>
                <div class="btn-group btn-group-sm me-2">
                    <button class="btn btn-primary btn-sm" @onclick="OnCreate">
                        <span>Yeni</span>
                    </button>
                </div>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-secondary btn-sm">
                        <span>İçeri Aktar</span>
                    </button>
                    <button class="btn btn-secondary btn-sm">
                        <span>Dışarı Aktar</span>
                    </button>
                </div>
            </ToolbarTemplate>
            <SearchTemplate>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="col-form-label">İşletme Tipi</label>
                            <select class="form-select" @bind="_filterMerchantType">
                                <option value="0">@Resources.SelectListAllOption</option>
                                @foreach (var item in Enum.GetValues<MerchantType>())
                                {
                                    <option value="@item.ToString("D")">@item.GetDescription()</option>
                                }
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="col-form-label">İşletme Adı</label>
                            <input class="form-control" @bind-value="_filterMerchantName" />
                        </div>
                    </div>
                </div>
            </SearchTemplate>
            <Template>
                <RadzenDataGrid TItem="MerchantDto"
                                Data="DataSource"
                                AllowSorting="true"
                                AllowPaging="true"
                                PageSize="Globals.DefaultGridPageSize"
                                PageSizeOptions="Globals.GridPageSizes">
                    <Columns>
                        <RadzenDataGridColumn TItem="MerchantDto" Property="Name" Title="Adı" />
                        <RadzenDataGridColumn TItem="MerchantDto" Title="Türü">
                            <Template Context="item">
                                <span>@item.MerchantType.GetDescription()</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MerchantDto" Title="Aktif" TextAlign="TextAlign.Center" Width="4rem">
                            <Template Context="item">
                                <span class="material-icons">@(item.IsActive ? "check_circle":"cancel")</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MerchantDto" TextAlign="TextAlign.Right" Width="7rem">
                            <Template Context="item">
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-sm btn-light shadow rounded-2" @onclick="@(()=>OnEdit(item.Id))">
                                        <span class="material-icons">edit</span>
                                    </button>
                                    <button class="btn btn-sm btn-dark shadow rounded-2" @onclick="@(()=>OnDelete(item.Id))">
                                        <span class="material-icons">delete</span>
                                    </button>
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </Template>
        </GenericSummary>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPageView />
    </NotAuthorized>
</AuthorizeView>